<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ログイン</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>ログイン</h1>
    <form method="post" action="/login">
      <div>
        <label for="username">ユーザ名</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button type="submit">ログイン</button>
      </div>
      <div>
        <a href="/signup">新規登録</a>
      </div>
    </form>
  </body>
</html>
