<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新規登録</title>
  </head>
  <body>
    <h1>新規登録</h1>
    <form method="post" action="/login">
      <div>
        <label for="username">登録するユーザ名</label>
        <input type="text" name="username" id="username" />
      </div>
      <div>
        <label for="password">登録するパスワード</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <button type="submit">登録</button>
      </div>
    </form>
  </body>
</html>
